.contentMain {
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  height: calc(100vh - 70px - 5vh);
}

.block {
  width: calc((100vw - 160px) / 2);
  margin-top: 2%;
  flex: 1;
}

.blockTime {
  display: block;
  width: 45rem;
  height: 45rem;
  margin-top: 2%;
}