.menu {
  
}

.btnItem {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 36px;
  width: 100%;  
  color: var(--gray99);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
}

.btnItem:hover {
  background-color: var(--grayF4);
}

.btnIcon {
  fill: var(--green);
}
.btnIconDisable {
  fill: var(--grayC4);
}

.dropDown {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grayC4);
  z-index: 99;
  padding-top: 6px;
  padding-bottom: 6px;
}
.dropDown:after, .dropDown:before {
  border: 6px solid transparent;
  position: absolute;
  content: '';
  left: 50%;
  bottom:100%;
}

.dropDown:after {
border-bottom-color: var(--white);;
border-width: 7px;
margin-left: -24px;
}

.dropDown:before {
border-bottom-color: var(--grayC4);;
border-width: 8px;
margin-left: -25px;
}
