@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main: #FFFFFF;
  --white: #FFFFFF;
  --green: #A8B64F;
  --green-hover: #899441;
  --red: #DC3E22;
  --red-hover: #B7280F;
  --red5D: #EE735D;
  --red79: #EA8979;
  --text: #333333;
  --grayF4: #F4F4F4;
  --grayC4: #C4C4C4;
  --gray99: #999999;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main);
  font-size: 14px;
  line-height: 15px;
  font-family: 'Segoe UI';
}

* {
  color: var(--text);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
}

code {
  white-space: break-spaces;
}